<div id="oxy-num-conductores"
     class="bg-gray-800 rounded-md p-4">
  <h2 class="text-sm uppercase tracking-wide text-gray-400">
    Número de conductores
  </h2>
  <p class="text-xl font-semibold"><%= oxy.numero_conductores %></p>
</div>
