<div id="oxy-total-uf"
     class="bg-gray-800 rounded-md p-4 sm:col-span-2">
  <h2 class="text-sm uppercase tracking-wide text-gray-400">
    Total UF
  </h2>
  <p class="text-xl font-semibold">
    <%= number_with_precision(oxy.total_uf, precision: 2) %>
  </p>
</div>
